{{ partial "header" . }}
<body class="landing-page">
  <header class="header header-filter">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="title">Master modular web applications in Golang.</h1>
          <h3>Build flexible, enterprise-grade applications.</h2>
        </div>
      </div>
    </div>
  </header>

  <main class="main main-raised">
    <div class="container">
      <section class="section section-landing">
        <div class="row text-center">
          <header class="col-md-8 col-md-offset-2">
            <h2 class="title">Table of Contents</h2>
          </header>
        </div>
        <div class="row">
          {{ partial "table_of_contents" . }}
        </div>
      </section>
    </div>
  </main>
</body>
{{ partial "footer" . }}
