<section class="col-md-6">
  <ol>
    <li><h4>Why Echo?</h4></li>
    <li><h4>A functioning server in 60 seconds.</h4></li>
    <li><h4>Controllers</h4></li>
    <li>
      <h4>Models</h4>
      <ul>
        <li>GORM</li>
      </ul>
    </li>
    <li>
      <h4>Static files</h4>
      <ul>
        <li>Templating</li>
      </ul>
    </li>
    <li>
      <h4>Authentication</h4>
      <ul>
        <li>Sessions</li>
      </ul>
    </li>
    <li><h4>Middleware</h4></li>
  </ol>
</section>
<section class="col-md-6">
  <ul>
  </ul>
</section>
